.app-player-select {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-player-select h1 {
  margin: 100px;
  font-family: arial;
}

.app-player-select button {
  margin: 15px;
  width: 40vw;
  min-width: 500px;
  height: 100px;
  border-radius: 25px;
  border: solid 5px;
  font-size: 20px;
  outline: none;
}

.app-player-select :hover {
  color: grey;
}

.selected {
  background-color: lightgray;
  color: white;
}
